.fw-med {
    font-weight: 500;
}

.fw-seb {
    font-weight: 600;
}

body {
    font-family: "Montserrat", sans-serif;
}

header .top {
    background-color: #000;
}

header .top-left {
    width: 28%;
    border-bottom: 64px solid white;
    border-right: 67px solid black;
}

header .top-middle {
    padding: 30px 0;
    padding-left: 10px;
}

header .top-middle a {
    padding: 0 20px;
    text-decoration: none;
    color: white;
}

header .top-right {
    padding: 30px 0;
    width: 22%;
}

header .top-right i {
    padding: 0 10px;
}

header .brand-logo {
    position: relative;
    top: -36px;
    left: -18px;
}

header .brand-logo img {
    width: 209px;
}

header .mid {
    padding-top: 10px;
}

header .mid-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 30px;
    /* padding-right: 0; */
    min-width: -moz-fit-content;
    min-width: fit-content;
}

header .mid-card-g {
    background-color: #e73a3a;
    color: white;
    height: -moz-max-content;
    height: max-content;
    padding: 12px;
    margin-right: 10px;
}

header .mid-card-g i {
    font-size: 26px;
}

header .mid-card-text {
    font-size: 1.17vw;
    line-height: 24px;
}

header .mid-card-text p {
    margin: 0;
}

header .mid-card-text .fw-med {
    color: #6a6a6a;
}

header .mid-card-text .fw-bold {
    color: #404041;
}

.navbar {
    border-bottom: 60px solid #404041;
    border-left: 50px solid white;
    height: 0;
    margin-top: -20px;
    margin-left: 46px;
}

.navbar-collapse {
    position: relative;
    top: 36px;
}

.navbar-collapse .nav-link {
    font-size: 18px;
    padding-right: 30px !important;
    padding-left: 30px !important;
    color: white;
}

.navbar-collapse .nav-link:hover {
    color: #e21312;
}

.slider {
    color: white;
    margin: 0;
    padding: 0;
}

.slider .carousel-control-prev,
.slider .carousel-control-next {
    width: -moz-min-content;
    width: min-content;
}

.slider .carousel-control-prev {
    left: 5%;
}

.slider .carousel-control-next {
    right: 5%;
}

.slider-img {
    background-image: url(../img/slider.png);
    background-size: cover;
}

.slider-head {
    font-weight: bold;
    font-size: 54px;
    padding-top: 195px;
}

.slider .slider-line-cont {
    transform: translateX(85%);
}

.slider-line {
    border-top: 3px solid #e21312;
    opacity: 1;
    width: 12vw;
}

.slider-desc {
    font-weight: 500;
    font-size: 26px;
    margin-left: 275px;
}

.slider-btn {
    background-color: #e21312;
    color: white;
    padding: 12px 54px;
    font-size: 24px;
    margin-bottom: 144px;
    border: 0;
}

.why {
    margin-top: 94px;
}

.why-head {
    font-size: 32px;
    text-align: center;
    position: relative;
}

.why-head:after {
    content: "";
    position: absolute;
    width: 8%;
    height: 2px;
    background: #E11313;
    bottom: -10px;
    left: 46%;
}

.why-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    border: 1px solid black;
    box-shadow: 8px 0px 0px 0px #000000;
    margin: 20px;
}

.why-card-g {
    position: absolute;
    background-color: #E11313;
    -webkit-clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
    transform: translateX(-20%);
}

.why-card-g i {
    color: white;
    font-size: 36px;
    padding: 36px;
}

.why-card-g svg {
    padding: 0px 26px;
    width: 117;
    height: 108;
}

.why-card-g image {
    width: 50px;
}

.why-card-text {
    font-size: 20px;
    padding: 55px 0;
    padding-right: 20px;
    padding-left: 136px;
}

.test {
    background-image: url(../img/test.png);
    background-size: cover;
    margin-top: 64px;
}

.test-head {
    font-size: 32px;
    text-align: center;
    position: relative;
    padding-top: 60px;
}

.test-head:after {
    content: "";
    position: absolute;
    width: 8%;
    height: 2px;
    background: #E11313;
    bottom: -10px;
    left: 46%;
}

.test-block {
    margin-top: 64px;
    margin-bottom: 130px;
    position: relative;
}

.test-block-text {
    background-color: rgba(225, 19, 19, 0.5);
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    padding: 0 46px;
    padding-top: 25px;
    padding-bottom: 75px;
}

.test-block-card {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    transform: translateY(-75%);
    right: 30px;
    line-height: 20px;
    padding: 16px;
}

.test-block-card p {
    margin: 0;
    font-size: 20px;
}

.test-block-card .client-img {
    margin-right: 24px;
}

.test-block-card .client-post {
    font-size: 18px;
    color: #686868;
}

.news-head {
    font-size: 32px;
    text-align: center;
    position: relative;
    padding-top: 60px;
    margin-bottom: 80px;
}

.news-head:after {
    content: "";
    position: absolute;
    width: 8%;
    height: 2px;
    background: #E11313;
    bottom: -10px;
    left: 46%;
}

.news-img img {
    width: 100%;
}

.news-info {
    padding: 28px 0;
}

.news-info-date {
    text-align: center;
    font-size: 16px;
    color: white;
    height: -moz-min-content;
    height: min-content;
}

.news-info-date p {
    margin: 0;
    background-color: #E11313;
    padding: 6px 0;
}

.news-info-head {
    font-size: 20px;
    line-height: 24px;
}

.news-info-meta {
    display: flex;
    flex-direction: row;
}

.news-info-meta div {
    padding: 0 5px;
}

.news-info-meta div i {
    color: #E11313;
}

.news-info-text {
    line-height: 22px;
    color: #4f4f4f;
    font-size: 20px;
    font-weight: 400;
}

.news-info-btn {
    border: 0;
    background-color: #E11313;
    color: white;
}

.fa-plane {
    transform: rotate(-45deg);
}

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 88vw;
    }
}

/*# sourceMappingURL=style.css.map */